.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(20, 20, 20, 0.3)
        ),
        url("https://images.pexels.com/photos/2925306/pexels-photo-2925306.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    color: white;
}
  
.loginTitle {
    font-size: 50px;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label {
    margin: 10px 0;
}

.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: #b7966b;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
}